.container
  .row
    - if @order.blank?
      No item added to cart
    - else
      .col-sm-12.col-md-10.col-md-offset-1
        %table.table.table-hover
          %thead
            %tr
              %th Product
              %th Quantity
              %th.text-center Price
              %th.text-center Total
              %th  
          %tbody
            - subtotal = 0
            - @order_items.each do|order_item|
              - order_item_price = order_item.price * order_item.quantity
              - subtotal = subtotal + order_item_price
              %tr
                %td.col-sm-8.col-md-6
                  .media
                    %a.thumbnail.pull-left{:href => "#"}
                      %img.media-object{:src => "http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png", :style => "width: 72px; height: 72px;"}/
                    .media-body
                      %h4.media-heading
                        %a{:href => "#"}= order_item.item.title
                      %h5.media-heading
                        by
                        %a{:href => "#"} Brand name
                      %span Status:
                      %span.text-success
                        %strong In Stock
                %td.col-sm-1.col-md-1{:style => "text-align: center"}
                  %input#item_quantity.form-control.disabled{:type => "email", :value => order_item.quantity}/
                %td.col-sm-1.col-md-1.text-center
                  %strong= "$#{order_item.unit_price}"
                %td.col-sm-1.col-md-1.text-center
                  %strong= "$#{order_item.price}"
                %td.col-sm-1.col-md-1
                  %button.btn.btn-danger#order_item_remove{:type => "button"}
                    %span.glyphicon.glyphicon-remove
                    Remove
          
            %tr
              %td  
              %td  
              %td  
              %td
                %h5 Subtotal
              %td.text-right
                %h5
                  %strong= "$#{@order.total_price}"
            %tr
              %td  
              %td  
              %td  
              %td
                %h3 Total
              %td.text-right
                %h3
                  %strong= "$#{subtotal}"
            %tr
              %td  
              %td  
              %td  
              %td
                %a.btn.btn-default{:type => "button", href: "/"}
                  %span.glyphicon.glyphicon-shopping-cart
                  Continue Shopping
              %td
                %a.btn.btn-default{:type => "button", href: new_payments_path}
                  Checkout
                  %span.glyphicon.glyphicon-play